<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularJS UI Tree demo</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css">
  <link rel="stylesheet" href="/source/angular-ui-tree.css">
  <link rel="stylesheet" href="/styles/app.css">
</head>

<body ng-app="demoApp">
<div class="container">

  <div class="row">
    <div class="col-sm-12" ng-view=""></div>
  </div>

</div>

<!-- JavaScript -->
<!--[if IE 8]>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
<![endif]-->

<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/js/underscore.js"></script>

<script src="/source/main.js"></script>
<script src="/source/controllers/handleCtrl.js"></script>
<script src="/source/controllers/nodeCtrl.js"></script>
<script src="/source/controllers/nodesCtrl.js"></script>
<script src="/source/controllers/treeCtrl.js"></script>
<script src="/source/directives/uiTree.js"></script>
<script src="/source/directives/uiTreeHandle.js"></script>
<script src="/source/directives/uiTreeNode.js"></script>
<script src="/source/directives/uiTreeNodes.js"></script>
<script src="/source/services/helper.js"></script>

<script src="/js/app.js"></script>
<script src="/js/basic-example.js"></script>
</body>
</html>
